html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.our-work-tab:hover > .our-work-dropdown {
  display: flex;
  position: absolute;
}

.our-work-dropdown {
  display: none;
}

.publications-tab:hover > .publications-dropdown {
  display: flex;
  position: absolute;
}

.publications-dropdown {
  display: none;
}

.about-tab:hover > .about-dropdown {
  display: flex;
  position: absolute;
}

.about-dropdown {
  display: none;
}

.people-tab:hover > .people-dropdown {
  display: flex;
  position: absolute;
}

.people-dropdown {
  display: none;
}
